@import "styles/utilcss.css";
@import "styles/style.css";


.popup {
  width: 200px;
  height: 375px;
  text-align: center;
  background: cadetblue;
  padding: 10px;
}

.tree{
  height : 200px;
  width: 200px
}

#pet{
  position: relative;
  z-index: 1000;
  height : 150px;
  width: 150px;
}

.hide{
  visibility: hidden;
}

.show{
  visibility: visible;
}